<div id='searchbar-container'>
    <form onsubmit='return false' ngNativeValidate (ngSubmit)='getCityWeather()'>
        <input [(ngModel)]='searchedCity' name='searchedCity' id='searchbar' type='text' placeholder='Enter City Here' required>
        <div id='search-icon'>
            <div id='img-container'>
                <input type='image' id='search-pic' src='assets\images\searchicon.png'>
            </div>
        </div>
    </form>
</div>

<div *ngIf='weatherData'>
    <p>{{weatherData.cityName}}</p>
</div>