#window-container{
    height: 100vh;
}

#header{
    position: relative;
    background-color: rgb(99, 73, 99);
    color: white;
    width: 100%;
    height: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 2em;
}
#content-container{
    position: relative;
    height: calc(100% - 55px);
    width: 100%;
}

.temp-display {
    font-size: 80px;
}